.table {
    padding: 30px 0;
    color: #0e0d0d;
    background-color: #c3f6c9;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #0a2920;
    margin-bottom: 10px;
}

.name 
{
    cursor: ns-resize;
}
